*   {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  /*background: #000 url('/i/head.jpg') center top no-repeat;*/
  background-size: 1500px;
  position: relative;
}

#svg {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -700px;
  width: 1000px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0);
  animation: svgLevitate 5s alternate ease-in-out infinite;
}

@keyframes svgLevitate {
  0% { transform: translate(0, -50px); }
  100% { transform: translate(0, 0px); }
}

#volume {
  position: absolute;
  top: 1em;
  right: 2em;
  font-size: 3em;
  color: #663;
  width: 50px;
  cursor: pointer;
}

#code
{
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
  height: 4em;
  font-family: monospace;
  font-size: 1.2em;
  padding: 2px 4px;
  margin: 0;
  color: #555;
  background-color: #eee;
  border: 1px solid #999;
  overflow: auto;
}

.skill {
  position: absolute;
  top: 100px;
  background-color: #151515;
  color: #eee;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  box-shadow: 0px 0px 5px #faff1e;
  overflow: hidden;
  left: -999px;
  box-sizing: border-box;
  white-space: nowrap;
  animation: skillLevitate 5s alternate ease-in-out infinite;
}

@keyframes skillLevitate {
  0% { transform: translate(0, -20px); }
  100% { transform: translate(0, 0px); }
}

.skill > span {
  display: block;
  margin: 15px 20px;
}

.progress {
  display: block;
  margin: 15px 20px;
}
