/* SVG styles */
path
{
  stroke-width: 4;
  stroke: rgba(255, 0, 0, 0.5);
  stroke-linecap: round;
  fill: none;
}

path.fill
{
  fill: #3ff;
}

circle
{
  stroke-width: 2;
  stroke: #c00;
  fill: rgba(255, 255, 255, 0.1);
}

circle:hover
{
  cursor: move;
}

#main line, #center line
{
  stroke-width: 2;
  stroke: #999;
  stroke-linecap: round;
  stroke-dasharray: 5,5;
}

#symmetry-source path, #symmetry-target path,
#symmetry-source polygon, #symmetry-target polygon,
#symmetry-source line, #symmetry-target line,
#center polygon {
  stroke-width: 3;
  stroke: rgba(255, 0, 0, 1);
  fill: none;
  pointer-events: visible;
}

#symmetry-source .hover:hover, #symmetry-target .hover:hover, #center .hover:hover {
  fill: rgba(255, 0, 0, 1);
}

#symmetry-source .filled, #symmetry-target .filled {
  fill: rgba(255, 0, 0, 1);
}