* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: #000;
  position: relative;
}

#svg {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -750px;
  width: 1000px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0);
  animation: svgLevitate 5s alternate ease-in-out infinite;
}

#trianglify {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

@keyframes svgLevitate {
  0% { transform: translate(0, -50px); }
  100% { transform: translate(0, 0px); }
}

#volume {
  position: absolute;
  bottom: 2%;
  left: 46%;
  font-size: 3em;
  color: #663;
  width: 50px;
  cursor: pointer;
}

#volume i[class*="fa-volume-"] {
  width: 60px;
}

#code
{
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
  height: 4em;
  font-family: monospace;
  font-size: 1.2em;
  padding: 2px 4px;
  margin: 0;
  color: #555;
  background-color: #eee;
  border: 1px solid #999;
  overflow: auto;
}

.skillBox {
  position: absolute;
  top: 100px;
  background-color: rgba(20, 20, 20, .5);
  color: #eee;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  box-shadow: 0px 0px 5px #faff1e;
  overflow: hidden;
  left: -999px;
  box-sizing: border-box;
  white-space: nowrap;
  animation: skillBoxLevitate 5s alternate ease-in-out infinite;
}

@keyframes skillBoxLevitate {
  0% { transform: translate(0, -20px); }
  100% { transform: translate(0, 0px); }
}

.skillBox h2 {
  margin: 16px 20px;
}

.skillBox a {
  color: #ffdf4f;
}

.skillBox > span {
  display: block;
  margin: 20px 30px;
}

.skillBox .left-offset {
  margin: 20px 20px 20px 40px;
}

.skillBox .left-offset > span  {
  display: block;
  margin: 10px 10px 10px 0;
}

.skillBox hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #555;
  margin: 0 1em;
  padding: 0;
}

pre {
  margin: 4px 0 0 10px;
  font-weight: 600;
  color: #50d050;
  float: right;
}

pre i {
  font-style: normal;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

.so-badge-tag {
  font-size: 0.8em;
  color: #535a60 !important;
  background: #eff0f1 url(/i/so-favicon.png) 8px center no-repeat;
  text-decoration: none;
  padding: 5px 10px 5px 30px;
  border-radius: 3px;
  margin-right: 10px;
}

.so-badge-tag.gold {
  color: #ffcc00;
}