path, polygon, line, circle {
  stroke-width: 2;
  stroke: #faff1e;
  fill: none;
  pointer-events: visible;
}

circle {
  stroke-width: 5;
}

.skill {
  cursor: pointer;
}

.skill:hover, .skill.current {
  fill: #ff6600 !important;
}

.skill.active {
  fill: #cc3300;
}

.filled {
  fill: #faff1e;
}